chromadb
fastapi
gradio
gradio_client
llama-index
llama-index-vector-stores-chroma
nest-asyncio==1.6.0
openai
pandas
pydantic
python-dotenv
pyzotero
python-slugify
PyMuPDF==1.23.8  
Pillow==10.2.0
sqlmodel
cachetools